li:hover{
text-decoration: underline;
padding-bottom: 5px;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.438);
  gap: 70px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 10px 0;
}


@media (min-width: 768px) {
  ul {
    flex-direction: row;
    display: flex !important;
    position: static;
    width: auto;
  }

  .logo {
    width: 5%;
  }

  .hamburger {
    display: none;
  }
}
@media (max-width:425px) {
  .logo {
    width: 5%;
  } }
/* 
#nav {
  position: relative;
  background-color: rgba(0, 0, 0, 0.438);
  gap: 70px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 10px 0;
}


@media (min-width: 768px) {
  ul {
    flex-direction: row;
    display: flex !important;
    position: static;
    width: auto;
  }

  .logo {
    width: 5%;
  }

  .hamburger {
    display: none;
  }
}
@media (max-width:425px) {
  .logo {
    width: 5%;
  } 
} */
