
.carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .section {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
  
  .carousel {
    /* overflow: hidden; */
    width:1000px;
  }
  
  .carousel-track {
    display: flex;

    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 200px;
    margin: 0 10px;
    text-align: center;
    animation: fadeIn 1s;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .carousel-item {
      min-width: 200px;
    }
  }